# APP
APP_NAME=crud-infinitytech
APP_PORT=8080

# SPRING
SPRING_PROFILES_ACTIVE=dev

# DATABASE
DB_URL=jdbc:postgresql://localhost:5432/seu_banco
DB_USERNAME=seu_usuario
DB_PASSWORD=sua_senha

# JWT
JWT_SECRET=sua_chave_secreta_aqui
JWT_EXPIRATION=3600000

# DOCKER (opcional)
POSTGRES_DB=seu_banco
POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha